@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ferretface;
  src: url(/images/ferretface.ttf);
}
@font-face {
  font-family: duneRise;
  src: url(/images/Dune_Rise.ttf);
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF0400; 
}


body {
  font-family: duneRise;
}

.overlay {
  opacity: 98%;
  background: linear-gradient(180deg, #1d1c1f 0%, rgba(29, 28, 31, 0.4) 44.61%, #1d1c1f 98%);
}
