@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ferretface;
  src: url(/images/ferretface.ttf);
}
@font-face {
  font-family: duneRise;
  src: url(/images/Dune_Rise.ttf);
}

body {
  font-family: duneRise;
  width: 100%;
  height: 100%;
}
